main section {
  width: 86%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto 10vh;
  height: 80vh;
}
main section .section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap column;
          flex-flow: nowrap column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  max-width: 50%;
  height: 50vh;
}
main section .section__content h1 {
  font-size: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  color: black;
  margin: 0;
}
@media (max-width: 767px) {
  main section .section__content h1 {
    font-size: calc(30px + 27.2 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  main section .section__content h1 {
    font-size: calc(30px + 16 * (100vw / 1280));
  }
}
main section .section__content p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  color: black;
  line-height: 28px;
  margin: 0 0 12px;
}
@media (max-width: 767px) {
  main section .section__content p {
    font-size: calc(20px + 6.8 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  main section .section__content p {
    font-size: calc(20px + 4 * (100vw / 1280));
  }
}
main section .section__content button {
  position: relative;
  background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
  max-width: 180px;
  min-width: 90px;
  width: 70%;
  padding: 15px 20px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  color: white;
  line-height: 23px;
  text-align: center;
}
@media (max-width: 767px) {
  main section .section__content button {
    font-size: calc(12px + 13.6 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  main section .section__content button {
    font-size: calc(12px + 8 * (100vw / 1280));
  }
}
main section .section__content button:hover {
  background: linear-gradient(95.2deg, #75003d 2.23%, #1e205a 99.51%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
main section img {
  max-width: 60%;
  max-height: 100%;
}
@media (max-width: 650px) {
  main section img {
    opacity: 0;
  }
}
@media (max-width: 430px) {
  main section {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0 0 10vh;
    width: 100%;
    height: 35vh;
  }
  main section .section__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    max-width: 60%;
    height: 30vh;
  }
  main section .section__content p {
    margin: 0;
  }
  main section .section__content button {
    padding: 7px 0;
    width: 45%;
  }
  main section img {
    display: none;
  }
}