@import "scss-tools.scss";

main{
    section{
        width: 86%;
        display: flex;
        justify-content: space-between;
        align-items:flex-start;
        margin: 0 auto 10vh;
        height: 80vh;

        .section__content{
            display: flex;
            flex-flow: nowrap column;
            justify-content: center;
            gap: 10px;
            max-width: 50%;
            height: 50vh;

            h1{
                font-size: 50px;
                @include f-size(46, 30);
                @include f-styles(900);
                margin:0;
            }
            p{
                @include f-size(24, 20);
                @include f-styles(300);
                line-height: 28px;
                margin:0 0 12px;
            }
            button{
                position: relative;
                background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
                max-width: 180px;
                min-width: 90px;
                width: 70%;
                padding: 15px 20px;
                border-radius: 10px;
                border: 0;
                cursor: pointer;

                @include f-styles(900, white);
                @include f-size(20, 12);
                line-height: 23px;
                text-align: center; 
                
                &:hover{
                    background: linear-gradient(95.2deg, #75003d 2.23%, #1e205a 99.51%);
                    transition: 0.5s;
                }
            }
        }
        img{
            max-width: 60%;
            max-height: 100%;
            @media(max-width: 650px){opacity:0;}
        }

        @media(max-width:430px){
            justify-content: space-evenly;
            margin: 0 0 10vh;
            width: 100%;
            height: 35vh;
            .section__content{
                justify-content: space-between;
                align-items: center;
                text-align: center;
                max-width: 60%;
                height: 30vh;
                p{margin:0}

                button{
                    padding: 7px 0;
                    width: 45%;
                }
            }

            img{
                display: none; 
            }
        }

    }
}